<html lang="tr">
<head>
    <title>Tesadüf Sayacı</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="keywords" content="Tesadüf Sayacı, tesadüf, sayaç">
    <meta name="description" content="Tesadüf Sayacı" />


    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/scrollingtext.css">
    <link rel="stylesheet" href="~/css/particles.css">
    <link rel="stylesheet" type="text/css" href="~/css/loading.css" />

    <link rel="import" href="/images/resim9.jpg">
    <link rel="import" href="/images/tirtil2.jpg">
    <link rel="import" href="/images/kelebek2.jpg">
    <link rel="import" href="/images/resim3.jpg">
    <link rel="import" href="/images/kedi.jpg">
    <link rel="import" href="/images/resim2.jpg">
    <link rel="import" href="/images/resim11.jpg">
    <link rel="import" href="/images/mobile/m1.jpg">
    <link rel="import" href="/images/mobile/m2.jpg">
    <link rel="import" href="/images/mobile/m3.jpg">
    <link rel="import" href="/images/mobile/m4.jpg">
    <link rel="import" href="/images/mobile/m5.jpg">
    <link rel="import" href="/images/mobile/m6.jpg">
    <link rel="import" href="/images/mobile/m7.jpg">
</head>
<body>
    <script src="~/js/vue.js"></script>

    <div id="app">
        @RenderBody()
    </div>

    <script type="application/javascript" src="~/js/axios.min.js"></script>
    <script type="application/javascript" src="~/js/appVue.js"> </script>
    <script type="application/javascript" src="~/js/particles.js"></script>
    <script type="application/javascript" src="~/js/configparticle.js"></script>
</body>
</html>