bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
blogging.db
.idea
.editorconfig
.vs/
/TesadufApp/appsettings.json
/TesadufApp/Controllers/TesadufController.cs
/TesadufApp/Migrations
.gitignore
/TesadufApp/wwwroot/images
